# Guwahati Restaurants Market Analysis (SQL + Tableau)

## Objective
Help an entrepreneur decide whether and where to open a restaurant in Guwahati and how to position it (cuisine, price point, target areas) using exploratory analysis and simple actionable KPIs.

The dataset was collected from Kaggle. The dataset shows Zomato restaurants (all over India) with their ratings, votes, other crucial data to do some research work.
[Link to the dataset](https://www.kaggle.com/datasets/rabhar/zomato-restaurants-in-india)

## Initial data cleaning using Python and Pandas

The original dataset contained restaurant data from across India. Using Python and Pandas, I filtered it to include only restaurants located in Guwahati and retained only the columns relevant for this analysis.

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('zomato_restaurant_india.csv')

In [3]:
df.columns

Index(['res_id', 'name', 'establishment', 'url', 'address', 'city', 'city_id',
       'locality', 'latitude', 'longitude', 'zipcode', 'country_id',
       'locality_verbose', 'cuisines', 'timings', 'average_cost_for_two',
       'price_range', 'currency', 'highlights', 'aggregate_rating',
       'rating_text', 'votes', 'photo_count', 'opentable_support', 'delivery',
       'takeaway'],
      dtype='object')

In [4]:
df = df[['res_id', 'name', 'city', 'locality', 'latitude', 'longitude', 'zipcode', 'cuisines', 'average_cost_for_two', 'aggregate_rating']]

In [5]:
df_guwahati = df.query("city == 'Guwahati'")
df_guwahati

,res_id,name,city,locality,latitude,longitude,zipcode,cuisines,average_cost_for_two,aggregate_rating
70518,2100707,KFC,Guwahati,Christian Basti,26.154169,91.780645,NaN,"Burger, Fast Food",450,4.2
70519,2100753,John's Kitchen,Guwahati,Christian Basti,26.159681,91.773681,NaN,"Chinese, Seafood",350,4.6
70520,2100702,Barbeque Nation,Guwahati,Ulubari,26.172262,91.759729,NaN,"North Indian, Mediterranean",1600,4.9
70521,18657420,Piazza,Guwahati,Ulubari,26.179929,91.756321,781007.0,"Italian, Continental, Asian, Modern Indian, Pizza",800,4.4
70522,2100478,Terra Mayaa Restaurant and Lounge,Guwahati,"Anil Plaza, Christian Basti",26.160651,91.773809,781005.0,"Continental, Italian, Indian, Asian",1400,4.1
...,...,...,...,...,...,...,...,...,...,...
73135,2100435,Silk Route,Guwahati,Uzan Bazaar,26.187686,91.755158,781001.0,"Chinese, Thai, Momos",450,4.1
73136,2100635,Recipes,Guwahati,Dispur,26.139583,91.798168,NaN,"Chinese, North Indian, Mughlai",1100,3.9
73137,18870978,Santa Fantasea,Guwahati,Zoo Tiniali,26.171197,91.777699,NaN,Seafood,1000,4.0
73138,18654458,16 Hillside,Guwahati,Zoo Tiniali,26.173661,91.785975,781021.0,"Indian, Chinese, Momos",700,3.8
73139,2100507,Alfresco Grand,Guwahati,Fancy Bazaar,26.178456,91.734097,781009.0,"Chinese, North Indian",2400,3.9

In [6]:
df_guwahati.to_csv('dataset.csv', index=False, encoding = 'utf-8')

## Few Queries made using SQL

- <u>Total restaurants in Guwahati</u>

`SELECT COUNT(*) AS total_restros_in_guwahati FROM guwahati_restaurants;`

- <u>Average rating overall</u>

`SELECT FORMAT(SUM(aggregate_rating)/COUNT(*),1) AS avg_overall_rating FROM guwahati_restaurants;`

- <u>Median cost for two</u>

`SELECT FLOOR(COUNT(*)/2) FROM guwahati_restaurants;`
`SELECT average_cost_for_two FROM guwahati_restaurants ORDER BY average_cost_for_two LIMIT 1 OFFSET 363;`

- <u>Average cost for two by locality</u>

`SELECT locality, FORMAT(AVG(average_cost_for_two),2) AS avg_cost_for_two FROM guwahati_restaurants  GROUP BY locality ORDER BY avg_cost_for_two DESC;`

### <u>**[Check out the full SQL file]('./queries.sql')**</u>

## Analysis using Tableau
![Demo picture 1](./demo_1.png)
![Demo picture 2](./demo_2.png)

### <u>**[Check out the Tableau dashboard](https://public.tableau.com/views/ghy_restaurants_dashboard/Dashboard1?:language=en-US&:sid=&:redirect=auth&:display_count=n&:origin=viz_share_link)**</u>

## Conclusion

- The analysis indicates that restaurants in Guwahati generally have an average rating of around 4.0 with a median cost for two of approximately â‚¹500.00.
- The top performing cuisines by ratings are North Indian, Mediterranean; Assamese, Naga; Cafe, Continental, Chinese.
- Top performing localities are Paradise Hotel, Silpukhuri; Food Villa, Pan Bazaar; Dona Planet Mall, Christian Basti they show a combination of high ratings and moderate costs, suggesting strong customer satisfaction and affordability.
- If someone wants to open a restaurant with premium prices then the best localities are Pragati Manor, Christian Basti; Hotel Nakshatra, Beltola; Hotel Nandan, Paltan Bazaar.